In [1]:
import csv
import pandas as pd

In [2]:
dataset = pd.read_csv('event000001000/event000001000-hits.csv')
dataset

        hit_id         x          y       z  volume_id  layer_id  module_id
0            1  -64.4099  -7.163700 -1502.5          7         2          1
1            2  -55.3361   0.635342 -1502.5          7         2          1
2            3  -83.8305  -1.143010 -1502.5          7         2          1
3            4  -96.1091  -8.241030 -1502.5          7         2          1
4            5  -62.6736  -9.371200 -1502.5          7         2          1
...        ...       ...        ...     ...        ...       ...        ...
120934  120935 -763.8630  51.569400  2944.5         18        12         97
120935  120936 -808.7050   3.459260  2944.5         18        12         97
120936  120937 -982.9360  41.460900  2952.5         18        12         98
120937  120938 -942.6990  18.489100  2952.5         18        12         98
120938  120939 -922.8900   2.092850  2952.5         18        12         98

[120939 rows x 7 columns]

In [3]:
volume_9 = dataset[dataset['volume_id']==9]
volume_9

       hit_id         x          y       z  volume_id  layer_id  module_id
46045   46046  -68.4571  -4.710600   602.5          9         2          1
46046   46047  -50.8023  -7.835060   602.5          9         2          1
46047   46048  -91.6286   0.788329   602.5          9         2          1
46048   46049  -50.6245   1.708320   602.5          9         2          1
46049   46050  -36.2013  -2.322480   602.5          9         2          1
...       ...       ...        ...     ...        ...       ...        ...
63226   63227 -175.7640   4.273390  1498.0          9        14        108
63227   63228 -151.4340  13.833500  1498.0          9        14        108
63228   63229 -106.5870  -3.005650  1498.0          9        14        108
63229   63230 -160.4430  14.750600  1498.0          9        14        108
63230   63231 -108.0150  10.374600  1498.0          9        14        108

[17186 rows x 7 columns]

In [10]:
layers = set(volume_9['layer_id'])

In [8]:
sublayer_2 = list(set(volume_9['z']))[1::4]

In [9]:
dataset_volume_9 = volume_9[volume_9['z'].isin(sublayer_2)]
dataset_volume_9

       hit_id        x         y       z  volume_id  layer_id  module_id
46116   46117 -111.575 -12.45930   598.0          9         2          3
46117   46118 -102.945 -18.67670   598.0          9         2          3
46118   46119 -108.234 -10.83210   598.0          9         2          3
46119   46120 -112.229  -7.95649   598.0          9         2          3
46120   46121 -119.432 -13.30280   598.0          9         2          3
...       ...      ...       ...     ...        ...       ...        ...
63226   63227 -175.764   4.27339  1498.0          9        14        108
63227   63228 -151.434  13.83350  1498.0          9        14        108
63228   63229 -106.587  -3.00565  1498.0          9        14        108
63229   63230 -160.443  14.75060  1498.0          9        14        108
63230   63231 -108.015  10.37460  1498.0          9        14        108

[5238 rows x 7 columns]

In [ ]:
for l in layers:
    no_hits = dataset_volume_9[dataset_volume_9['layer_id']==l].shape[0]
    print("layer: ", l, "-" , no_hits, "hits")